.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  input[type="text"] {
    margin: 20px 0;
    padding: 10px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
  }
  