.chatroom-container {
    display: flex;
    height: 90vh;
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.sidebar {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.chat-area {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-box {
    overflow-y: scroll;
}
.messages {
    flex-grow: 1;
    margin: 20px 0;
}

.message-input {
    width: 90%;
    display: flex;
}

input, button {
    padding: 10px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.user-list > button {
    width: 90%;
}
