<div class="chatroom-container">
    <div class="sidebar">
        <h3>Users</h3>
        <ul class="user-list" *ngFor="let user of users">
          <button ><li (click)="LoadChat(user)">{{ user }}</li></button>
        </ul>
    </div>
    <div class="chat-area">
        <div class="chat-header">
            <h2>Chatroom</h2>
            <button class="logout" routerLink="">Logout</button>
        </div>
        <ul class="messages" *ngFor="let post of posts">
            <li><strong>{{post.sender}}:</strong>{{post.content}}</li>
        </ul>
        <div class="message-input">
            <input type="text" placeholder="Type a message..." [(ngModel)]="message">
            <button (click)="onSendMessage()">Send</button>
        </div>
    </div>
</div>
